{% extends 'base.html' %}

{% block body_block %}
    <h2 class="ui header">Product</h2>
    <div class="ui divider"></div>
    <div class="ui bulleted list">
        <div class="item">Name: {{ object.name }}</div>
        <div class="item">Creation date: {{ object.date_created }}</div>
        <div class="item">Change date: {{ object.date_changed }}</div>
    </div>
    <div class="ui divider"></div>
    <div class="ui buttons">
        <a href="{% url 'shop:products' %}" class="ui grey button"><i class="ui backward icon"></i> Back to products</a>
        <a href="{% url 'shop:edit_product' object.id %}" class="ui blue button">Edit</a>
        <a href="{% url 'shop:delete_product' object.id %}" class="ui red button">Delete</a>
    </div>

{% endblock %}